* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    
}

body {
    width: 100%;
}

main {
    width: 100%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1) 0%, rgb(78, 78, 78, 1) 25%,
            rgba(0, 0, 0, 1) 50%, rgba(78, 78, 78, 1) 75%, rgba(0, 0, 0, 1) 100%);
}

/******WSP BTN todas las paginas*****/
.btn-wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 30px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

.btn-wsp:hover {
    text-decoration: none;
    background: #fff;
    color: #0df053;
}

/***************Barra de navegación****************/
nav {
    height: 80px;
    width: 100%;
    background-color: black;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: goldenrod;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bolder;

}

li a.active,
li a:hover {
    background-color: rgb(114, 0, 0);
    transition: 0.5s;
}

li a:hover {
    color: #f5931b;
}

.checkbtn {
    font-size: 30px;
    color: #f5931b;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*********************INICIO*********************/
.contenedor_padre--inicio{
    box-shadow: 0px 0px 15px 10px rgba(145,116,0,1);
    width:auto;
    height: auto;
    margin:0 15% 0 15%;
    height: 00px;
}
.img_perfil {
    display: flex;
    justify-content: center;
}

.img_perfil img {
    margin-top: 20px;
    width: 200px;
    border-radius: 50%;
}

.titulo {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    font-weight: bold;
    color: #f5931b;
}

.parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(177, 127, 0);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    line-height: 30px;
    padding-bottom: 50px;
}

/***********************PROYECTOS************************/
.contenedor_titulo--proyectos {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.titulo_proyectos {
    color: white;
    text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.padre_card {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card {
    width: 260px;
    height: 290px;
    border: 10px ridge rgb(255, 0, 0);
    margin-top: 20px;
    margin: 30px;
}

.card_img {
    width: 100%;
    height: 50%;
}

.card_body {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
    height: 49.5%;
}

.card_title {
    text-align: start;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card_text {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
}

/***********************ESTUDIOS*************************/
.body_estudios {
    width: 100%;
}

.main_estudios {
    width: 100%;
}

.contenedor_titulo_estudios {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: end;
    margin-bottom: 70px;
    height: 100px;
    align-content: end;
}

.hijo_titulo_estudios {
    color: white;
    text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.contenedor_padre_estudios {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.6fr 0.6fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 30px;
}

.img_estudios {
    width: 100px;
    height: 120px;
}

.contenedor_hijo_compartido {
    border: 10px ridge white;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.html {
    grid-column: 2/3;
    grid-row: 1/2;
    transition: 1s;
}

.html:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(255, 4, 4);
}

.css {
    grid-column: 3/4;
    grid-row: 1/2;
    transition: 1s;
}

.css:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(19, 0, 194);
}

.bootstrap {
    grid-column: 4/5;
    grid-row: 1/2;
    transition: 1s;
}

.bootstrap:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(52, 0, 100);
}

.javascript {
    grid-column: 2/3;
    grid-row: 2/3;
    transition: 1s;
}

.javascript:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(212, 198, 0);
}

.react {
    grid-column: 3/4;
    grid-row: 2/3;
    transition: 1s;
}

.react:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(20, 121, 252);
}

.backend {
    grid-column: 4/5;
    grid-row: 2/3;
    transition: 1s;
}

.backend:hover {
    background-color: #ffffffde;
    border: 10px ridge rgb(39, 37, 37);
}

/****************ESTUDIOS/IDIOMAS****************/
.contenedor_idiomas_estudios {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-bottom: 20px;
}

.idiomas_estudios {
    border: 5px dotted white;
    width: 160px;
    height: 200px;
    transition: 1s;
}

.idiomas_estudios_es:hover {
    border-top: 10px ridge red;
    border-left: 10px ridge yellow;
    border-right: 10px ridge yellow;
    border-bottom: 10px ridge red;
    background-color: white;
    transition: 1s;
}

.idiomas_estudios_de:hover {
    border-top: 10px ridge rgb(0, 0, 0);
    border-left: 10px ridge rgb(255, 0, 0);
    border-right: 10px ridge rgb(255, 0, 0);
    border-bottom: 10px ridge rgb(255, 230, 0);
    background-color: white;
    transition: 1s;
}

.idiomas_estudios_en:hover {
    border-top: 10px ridge rgb(0, 7, 105);
    border-left: 10px ridge rgb(255, 255, 255);
    border-right: 10px ridge rgb(255, 255, 255);
    border-bottom: 10px ridge rgb(255, 0, 0);
    background-color: white;
    transition: 1s;
}

.idiomas_estudios_it:hover {
    border-top: 10px ridge rgb(31, 153, 0);
    border-left: 10px ridge rgb(255, 255, 255);
    border-right: 10px ridge rgb(255, 255, 255);
    border-bottom: 10px ridge rgb(255, 0, 0);
    background-color: white;
    transition: 1s;
}

.banderas_estudios {
    width: 80px;
    height: 80px;
    margin-top: 10px;
}

.texto_idiomas_estudios {
    color: #4e4b4b;
    width: 100%;
    margin-top: 10px;
    text-shadow: 0 0 5px #4e4b4b,
        0 0 10px #4e4b4b,
        0 0 20px rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 200;
}
/***************EXPERIENCIA LABORAL**************/
.laboral_contenedor--titulo{
    display: flex;
    place-content: center;
}
.laboral_titulo {
    color: white;
    text-shadow: 0 0 10px white,
        0 0 20px white,
        0 0 40px rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 200;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.caja_maestra{
    border: #0df053 solid 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    }
.laboral_uno{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
}
.laboral_uno--titulo{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    list-style: circle;
    margin-left: 25px;
    margin-bottom: 10px;
}
.laboral_uno--parrafo{
    color: white;
    margin-left: 50px;
}
.separacion{
    margin-top: 10px;
}
/*******************CONTACTO*********************/
.img_contacto {
    background: url(../imagenes/contact.jpg) no-repeat center top / cover;
    height: 100%;
}

.contenedor_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px 0;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
    border: ridge goldenrod 8px;
    padding: 20px;
    width: 340px;
    background: -webkit-linear-gradient(rgba(0, 0, 0) 0%, rgb(23, 23, 23) 25%,
            rgb(54, 54, 54, 0.98) 50%, rgb(83, 71, 82, 0.96) 75%, rgba(43, 38, 42, 0.9) 100%);
}

.form_datos {
    margin-bottom: 30px;
    height: 35px;
    width: 260px;
    font-weight: 200;
    font-size: medium;
    background-color: rgb(255, 255, 255);
}

.form_textarea {
    margin-bottom: 30px;
    font-weight: 200;
    font-size: large;
    width: 260px;
    background-color: rgb(255, 255, 255);
}

.form_button {
    margin-bottom: 15px;
    font-weight: 200;
    font-size: medium;
    font-family:Tahoma, Verdana, sans-serif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100px;
    height: 40px;
    border: #000000 ridge 4px;
    background-color: goldenrod;
    transition: .5s linear;
    color: #000000;
}

.form_button:hover {
    border: 4px ridge goldenrod;
    background-color: black;
    color: goldenrod;
    transition: .5s linear;
}

.img_footer_contacto {
    background: url(../imagenes/contact2.jpg) no-repeat center top /cover;

}

/********************FOOTER**********************/
.footer_generico {
    height: 14%;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 1) 0%, rgb(78, 78, 78, 1) 25%,
            rgba(0, 0, 0, 1) 50%, rgba(78, 78, 78, 1) 75%, rgba(0, 0, 0, 1) 100%);
}

.footer_padre {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;
}

footer div a {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.contactanos {
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
    font-family: cursive;
    color: rgb(255, 0, 0);
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #00acee;
}

.linkedin:hover {
    color: #0e76a8;
}

.skype:hover {
    color: #00aff0;
}

.instagram:hover {
    color: white;
}

.twitch:hover {
    color: #6441a5;
}

/*********************MEDIA QUERIES*************************/
@media screen and (max-width:952px) {

    /******MENU DESPLEGABLE********/
    nav ul li a {
        font-size: 15px;
    }
/******PROYECTOS******/
.titulo_proyectos{
    padding-top: 50px;
}
.card {
    width: 260px;
    height: 170px;
    border: 10px ridge rgb(255, 0, 0);
    margin-top: 20px;
    margin: 30px;
}

.card_img {
    width: 100%;
    height: 50%;
    margin-top: 0.5px;
}

.card_body {
    display: flex;
    flex-direction: column;
    background-color: green;
    width: 100%;
    height: 49.5%;
}

.card_title {
    text-align: start;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.card_text {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}
    /*********ESTUDIOS**********/
    .body_estudios {
        width: 100%;
        height: auto;
    }

    header {
        height: auto;
    }

    .main_estudios {
        height: auto;
        width: 100%;
    }

    .footer_estudios {
        height: auto;
    }

    .contenedor_padre_estudios {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
    }

    .html {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .css {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .bootstrap {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .javascript {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .react {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .backend {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .contenedor_idiomas_estudios {
        display: grid;
        grid-template-columns: 1fr .5fr .5fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .idiomas_estudios_es {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .idiomas_estudios_de {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .idiomas_estudios_en {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .idiomas_estudios_it {
        grid-column: 3/4;
        grid-row: 2/3;
    }
}

/*******************MEDIA QUERIES 700Px*******************/
@media screen and (max-width:700px) {
    .contenedor_form{
        padding-top: 100px;
    }
    .laboral_contenedor--titulo{
        padding-top: 80px;
        padding-bottom: 10px;
    }

    /*******MENU DESPLEGABLE********/
    nav {
        position: fixed;
        z-index: 200;
    }

    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: rgb(95, 95, 95);
        top: 80px;
        right: -105%;
        text-align: center;
        transition: all .5s;
        z-index: 200;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 30px;
    }

    li a:hover,
    li a.active {
        background: none;
        color: goldenrod;
    }

    #check:checked~ul {
        right: -1%;
    }
/****PROYECTOS****/
.padre_card{
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}
.card_uno{
    grid-column: 1/2;
    grid-row:1/2;
    place-self: center;
}
.card_dos{
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
}
.card_tres{
    grid-column: 1/2;
    grid-row: 1/2;
    place-self: center;
}
.card_cuatro{
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: center;
}
    /*************ESTUDIOS/LENGUAJES DE PROGRAMACION**************/
    .contenedor_titulo_estudios {
        margin-top: 30px;
    }

    .contenedor_padre_estudios {
        height: auto;
        grid-template-columns: 1fr 0.6fr 0.6fr 1fr;
        grid-template-rows: 0.03fr 0.03fr 0.03fr;
    }

    .img_estudios {
        width: 50px;
        height: 70px;
    }

    .contenedor_hijo_compartido {
        width: 150px;
        height: 120px;
    }

    .html {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .css {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .bootstrap {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .javascript {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .react {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    .backend {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    /**************IDIOMAS*************/
    .titulo_idiomas {
        align-items: center;
        margin: auto;
    }

    .contenedor_idiomas_estudios {
        width: 100%;
        margin: auto;
    }

    .idiomas_estudios {
        width: 130px;
        height: 110px;
    }

    .banderas_estudios {
        width: 40px;
        height: 40px;
        margin-top: 5px;
    }

    .texto_idiomas_estudios {
        margin-top: 5px;
        font-size: 14px;
    }

    /********************************/
    .body_estudios {
        width: 100%;
        height: auto;
    }

    .main_estudios {
        height: auto;
        width: 100%;
    }

    .img_perfil {
        margin-top: 60px;
    }
}

@media screen and (max-width:487px) {
    .titulo {
        font-size: 20px;
    }
    
    .parrafo {
        font-size: 14px;
        margin-left: 5%;
    margin-right: 5%;
    }
    .contenedor_titulo_estudios {
        margin-top: 70px;
    }

    .img_contacto {
        background: url(../imagenes/contact.jpg) no-repeat center top / cover;
        width: 100%;
    }

    #check:checked~ul {
        right: -4%;
    }
}